# Server
PORT=your-port
NODE_ENV=development
CLIENT_URL=your-frontend-url

# Azure SQL Server
DB_SERVER=your-server.database.windows.net
DB_NAME=your-database-name
DB_USER=your-username
DB_PASSWORD=your-password
DB_PORT=your-port
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
JWT_SECRET=replace-with-a-strong-random-secret
